.card {
    padding: 0;
    background: transparent;
    border: none;
    .card-body {
        background: white;
        border-bottom-left-radius:5px ;
        border-bottom-right-radius:5px ;
    }
}
